/* ^ Themes */
@import './core/theme/theme.css';


/* ^ Components */
@import './components/card-collection.css';
@import './components/playing-card.css';
@import './components/game-feed.css';
@import './components/message-bubble.css';
@import './components/game-action.css';
@import './components/game.css';
@import './components/panel.css';
@import './components/players.css';
@import './components/game-card.css';
@import './components/game-row.css';
@import './components/game-list.css';
@import './components/history.css';
@import './components/leaderboard.css';
@import './components/login.css';
@import './components/app-alert.css';

/* ^ Optics Overrides */
@import './components/optics-overrides/text-pair.css';
@import './components/optics-overrides/content-header.css';
@import './components/optics-overrides/btn.css';
@import './components/optics-overrides/accordion.css';
@import './components/optics-overrides/icon.css';
@import './components/optics-overrides/form-error-summary.css';


body {
  overflow: hidden;
  background-color: var(--op-color-neutral-plus-max);
}

p, a {
  padding: none;
  margin: none;
  text-decoration: none;
  color: inherit
}

html {
  scrollbar-color: var(--op-color-primary-plus-four) var(--op-color-neutral-plus-seven);
}
