.app-alert{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .app-alert__body {
    padding: var(--op-space-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
