.card-collection {
  --_gf-x-small-card-width: calc(var(--op-size-unit) * 16); /* 64px */
  --_gf-x-small-card-hover: calc(var(--op-size-unit) * 0); /* 0px */

  --_gf-small-card-width: calc(var(--op-size-unit) * 19); /* 76px */
  --_gf-small-card-hover: calc(var(--op-size-unit) * -2); /* -8px */

  --_gf-medium-card-width: calc(var(--op-size-unit) * 21); /* 84px */
  --_gf-medium-card-hover: calc(var(--op-size-unit) * -3); /* -12px */
  
  --_gf-large-card-width: calc(var(--op-size-unit) * 27); /* 108px */
  --_gf-large-card-hover: calc(var(--op-size-unit) * -4); /* -16px */

  display: flex;
  flex-wrap: wrap;
  row-gap: var(--op-space-x-large);
  margin-left: calc(var(--_gf-small-card-offset) * -1);
  padding: 0 var(--op-space-medium);
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .card-collection {
    --_gf-x-small-card-width: calc(var(--op-size-unit) * 12); /* 48px */
    --_gf-small-card-width: calc(var(--op-size-unit) * 14); /* 56px */
    --_gf-medium-card-width: calc(var(--op-size-unit) * 19); /* 76px */
    --_gf-large-card-width: calc(var(--op-size-unit) * 22); /* 88px */
  }
}