.login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__body {
    background-color: var(--op-color-primary-plus-six);
    padding: var(--op-space-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .login__logo {
    display: flex;
    justify-content: center;
  }

  .login__logo-img {
    --_gf-logo-height: calc(var(--op-size-unit) * 40);
    height: var(--_gf-logo-height);
    box-shadow: var(--op-shadow-medium);
  }

  .login__button {
    width: 100%
  }
}
