.playing-card {
  transition: var(--op-transition-modal);
  width: var(--_gf-small-card-width); 
  box-shadow: var(--op-shadow-x-small);
  border-radius: var(--op-space-2x-small);
  height: min-content;

  &:hover {
    margin-top: var(--_gf-small-card-hover)
  }

  &.playing-card--x-small {
    width: var(--_gf-x-small-card-width);

    &:hover {
      margin-top: var(--_gf-x-small-card-hover)
    }
  }
  &.playing-card--medium { 
    width: var(--_gf-medium-card-width); 
    &:hover {
      margin-top: var(--_gf-medium-card-hover)
    }
  }
  &.playing-card--large { 
    width: var(--_gf-large-card-width); 
    &:hover {
      margin-top: var(--_gf-large-card-hover);
    }
  }
}