.players {
  display: flex;
  flex-direction: column;
  padding-inline: var(--op-space-3x-large);
  padding-block: var(--op-space-2x-large) var(--op-space-4x-large);
  gap: var(--op-space-x-small);
  font-size: var(--op-font-small);

  height: fit-content;
  overflow-y: auto;
  scrollbar-gutter: stable;
  
  .players__details {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-x-small)
  }
}